<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="ConexaoBD"
         connectionString="Data Source=AM\SQLEXPRESS;Initial Catalog=Colaboradores;User ID=sa;Password=Flamengo2019"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>